---
http_interactions:
- request:
    method: get
    uri: http://viacep.com.br/ws/21931380/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cep": "21931-380",
          "logradouro": "Rua Colina",
          "complemento": "",
          "bairro": "Jardim Guanabara",
          "localidade": "Rio de Janeiro",
          "uf": "RJ",
          "unidade": "",
          "ibge": "3304557",
          "gia": ""
        }
  recorded_at: Mon, 26 Aug 2019 18:58:10 GMT
recorded_with: VCR 5.0.0
